@font-face {
    font-family: 'Mother';
    src: url('../fonts/determinationmonowebregular-z5oq-webfont.woff2') format('woff2'),
         url('../fonts/determinationmonowebregular-z5oq-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


*{
    margin: 0;
    padding: 0;
}

/*  --------------BANNER-------------- 
.banner{
    background-image: url("../img/UeBannerTest.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
*/

/*  --------------BANNER-------------- */
.background-container {
    background-image: url('/img/banner.png'); 
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh; 
    position: relative;
}

.image-overlay {
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-overlay img {
    display: block;
    max-width: 100%; 
    height: auto;
}

/*  --------------LOGO CODE-------------- */
.logo{
    padding: px;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-75%,-50%);
}

/*  --------------NAVI CODE-------------- */

.header {
    text-align: center;
    font-size: 1vw;
    color: white;
    background-color: rgb(56,56,56);
    margin: 0px;
    position: sticky;
    z-index: 2000;
}
.navi ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    text-align: center;
    font-size: 1.5vw;
    
}
 
.navi a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navi a:hover{
    background-color: hsl(0, 0%, 33%);
    text-align: center;
    color: yellow;
}

.navi li{
    display: inline-block;
    
}

/*  --------------FOOTER-------------- */
.footer{
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    background-color:rgb(56,56,56);
    margin-top: auto;
}


:root{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* 
.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2vw;
    background-color: #fff129;
    color: white;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2vw;
}
*/
.sillysoul{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    background-color:rgb(0,0,0);
}

/*  --------------CHANGE COLOR OF HREF LINKS-------------- */
a{
    color: inherit;
}


/*  --------------CENTER IMAGES-------------- */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.center2 {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    padding-top: 8vw;
}

/*  --------------GENERAL CSS-------------- */
body{
    margin: 0px;
    padding: 0px;
    font-size: 1vw;
    color: white;
    background-color: black;
    min-height: 100vw;
    display: flex;
    flex-direction: column;
    font-family: Mother;

}

.WholeBody{
    margin : 50px 250px 0px 250px;
    font-family:  "mother", Arial, Helvetica, sans-serif;
    font-family: Mother;

}

main{
    text-align: center;
}

img{
    max-width: 100%;
    height: auto;
}

.image-border img {
    border-style: solid;
}

h1{
    font-size: 2vw;
    padding-bottom: 1vw;
    text-decoration: none;
}

/*  --------------PAST PROJECTS-------------- */
.PPV{
    text-align: center;
}

.VidB{
    background-color: rgb(27, 27, 27);
    padding: 10px;
    border: 0;
}

p{
    font-size: 1.5vw;
}


/* --------------BETTER PROJECTS-------------------*/

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 1vw;
    margin: 2vw;
    padding: 1vw;
    top: 0;
    left: 0;
}

.grid-item {
    position: relative; 
    padding: 1vw;
}

.grid-item img {
    width: 100%; 
    height: auto; 
    display: block; 
    top: 0;
    left: 0;
}

.overlay{
    scale: (0.9);
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 0px;
}

.grid-item .title {
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease, color 0.3s ease; 
    text-align: center;
    padding: 1vw;
    font-size: 1.7vw;
    opacity: 1;
}

.grid-item:hover img {
    transform: scale(1.1);
    box-shadow: 0 0 20px, 0 0 50px;
    opacity: 1;
}


.grid-item:hover .title {
    color: yellow; 
}

.HeaderText{
    font-size: 5vw;
}

.grid-item:hover img .titleC{
    transform: scale(1.1);
    box-shadow: 0 0 20px, 0 0 50px red;
}

.grid-item:hover .titleC{
    color: red; 
}

.grid-item:hover .imgC{
    box-shadow: 0 0 20px, 0 0 50px red;
}

.grid-item .titleC {
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease, color 0.3s ease; 
    text-align: center;
    padding: 1vw;
    font-size: 1.7vw;
    opacity: 1;
}

/*  --------------COLUMNS PROJECTS-------------- */
.wrapper{
    padding: 5px;
    max-width: 1000px;
    width: 90%;
    margin: 1vw auto;
}

.columns{
/*    display:flex;
    flex-flow: row wrap;
    */
    display: grid;
    grid-template-rows: 4vw 4vw 4vw;
    grid-template-columns: 18vw 18vw 18vw;
    justify-content: center;
    margin: 1vw 0;
}

.column{
    flex: 1;
    margin: 0.5vw;
    padding: 1.vw;
    text-decoration: none;
}


.column img{
    width: 15vw;
    box-shadow: 0 0 15px white;
}

.columns :hover{
    transition: 0.3s;
    box-shadow: 0 0 5px white, 0 0 25px white, 0 0 50px white;
    color: #fff129;
    border-style: none;
}

.column p{
    padding: 0vw;
}



/*  --------------COLUMNS TEAM MEMBERS-------------- */
.columnsP{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 1vw 0;
}

.columnP{
    flex: 1;
    margin: 0.5vw;
    padding: 1vw;
    transition: 0.3s;
    text-decoration: none;
    border-style: solid;
}

.columnP img{
    width: 10vw;
}

.columnP p{
    padding: 0vw;
}

.columnsP :hover{
    opacity: 1;
    background-color: rgb(65, 65, 65);
}

.columnP:hover .PN{
    color: #fff129;
}

/*  --------------COLUMNS HOME-------------- */
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 150px;
}

.imageL{
    padding-right: 100px;
    max-width: 45%;
    max-height: 35%;
    float: left;
}

.textL{
    font-size: 20px;
    padding-right: 20px;
    padding: left;
    font-size: 1vw;
    max-width:35vw;
    word-wrap:break-word;
    line-height: 1.2;
}

.imageR{
    max-width: 45%;
    max-height: 35%;
    float: right;
}

.textR{
    padding-right: 20px;
    padding: right;
    font-size: 32vw;
    max-width:35vw;
    word-wrap:break-word;
    line-height: 1.2;
}

.containerC{
    display:block ;
    align-items: center;
    justify-content: center;
    padding-bottom: 150px;
    text-align: center;
}

/*  --------------STICKY-------------- */

div.header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }

/*  --------------VIDEO GALLARY-------------- */

.containerV{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(34, 1, 1);
    padding: 100px;

}

.slider-wrapper{
    position: relative;
    max-width: 48vw;
    margin: 0 auto;
}

.slider{
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
}

.slider iframe{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover{
    opacity: 1;
    background-color: black;
}

/* ============================================== CREDITS ================================== */
.CC{
    padding-top: 6vw;
    padding-left: 15vw;
    padding-right: 15vw;
    background-color: #3b3b3b4b;
    margin-left: 10%;
    margin-right: 10%;
}

.credits{
    animation-duration: 1s;
    animation-name: fadein;
    animation-iteration-count: 1;
    opacity: 1;
}

.creditEntry{
    color: red;
}

.creditCatagory{
    color: #fff129;
}

.creditMember{
    display: inline-block;
    margin-bottom: 2vw;
}

.creditRole{
    display: inline-block;
    padding-top: 1vw;
}

@keyframes fadein {
    from {
        opacity: 0%;
    }
  
    to {
        opacity: 100%;
    }
  }