body{
    font-family: "VT323", Arial, Helvetica, sans-serif;
    font-size: 2rem;
    color: white;
    background: cover;
    background-color: rgb(0, 0, 0);
    margin: 0px;
    padding: 0px;
}

header {
    text-align: center;
    font-size: 3rem;
    color: white;
    background-image: url('img/bg.gif');
    background-color: black;
    margin: 0px;
}

.navi ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    text-align: center;
    font-size: 2rem;
    
}
 
.navi a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;

}

.navi a:hover{
    background-color: hsl(0, 0%, 11%);
    text-align: center;
}

.navi li{
    display: inline-block;
    
}

footer{
    color: black;
    text-align: center;
    margin: 0px;
    padding: 10px;
    background-color: white;
}