body{
    color: white;
    background-color: black;
    margin: 0px;
}

header {
    text-align: center;
    color: white;
    background-image: url('img/bg.gif');
    background-color: black;
    margin: 0px;
}

.navi ul{
    list-style-type: none;
    background-color: black;
    padding: 0px;
    margin: 0px;
    text-align: center;
    
}
 
.navi a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;

}

.navi a:hover{
    background-color: hsl(0, 0%, 11%);
    text-align: center;
}

.navi li{
    display: inline-block;
    
}